@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"),
    url("/fonts/Montserrat-Regular.ttf") format("truetype");
    // url("/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Bold"),
    url("/fonts/Montserrat-Bold.ttf") format("truetype");
    // url("../../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", "DM Sans", "sans-serif";
    max-width: 1400px;
    margin: auto;
}

ul {
    list-style: none;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

h1 {
    margin: 0;
    font-size: 27px;
}

h2 {
    margin: 0;
    font-size: 24px;
}

img {
    width: 100%;
}